<table>
    <thead>
        <tr>
            <th style="width: 55%;"></th>
            <th style="width: 15%;">OM</th>
            <th style="width: 15%;">GÅ</th>
            <th style="width: 15%;">CYKLA</th>
        </tr>
    </thead>
    <tbody>
        {% for d in departures %}
        <tr>
            <td>
                <div class="blue-text">{{ d.stop_name }}</div>
                <div class="line-dest">{{ d.line }} {{ d.destination }}</div>
            </td>
            <td class="time-val">{{ d.departure_minutes }}</td>
            <td class="time-val {{ d.walk_color }}">
                {% if d.show_walk %}{{ d.walk_leave_in }}{% else %}{% endif %}
            </td>
            <td class="time-val {{ d.bike_color }}">
                {% if d.show_bike %}{{ d.bike_leave_in }}{% else %}{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>